@font-face {
	font-family: "FjallaOne";
	src: url(../font/FjallaOne-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "TrajanPro3";
	src: url(../font/TrajanPro3-Regular.otf) format("opentype");
}
@font-face {
	font-family: "TrajanPro3";
	src: url(../font/TrajanPro3-Bold.otf) format("opentype");
	font-weight: bold;
}

/*
#siOverflowea {
	display: none;
}*/

body {
	background-color:rgba(50,50,50,1);
	margin: 0;
}

header {
	text-align: left;
	font-family: FjallaOne;
}

#pregunta0 {
	position: absolute;
}

#pregunta1 {
	border: double;
	border-width:thick;
	background-color:#33FF33;
	margin: 0 10%;
	padding: 0.45%;
	animation-duration: 1s;
}

#pregunta2 {
	position: absolute;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

#topnav {
	background: linear-gradient(to bottom left,#9191b9,#a5d5ff);
	border-color: #950000;
	border-width: 2px;
	border-style: solid;
	/*height: 35px;*/
	overflow: hidden;
}
#topnav span {
	font-family: TrajanPro3;
	font-weight: bold;
	float: left;
	padding: 8px 20px;
	border: black;
	/*border-style: groove;*/
	}
#pregunta1 .resposta:hover{
	opacity: 0.5;
}
#pregunta1 #preguntaSel {
	display: none;
}

#pregunta1 #preguntaText {
	display: none;
}

#topnav span:hover {
	background-color:#00FF00;
}

.boton {
	width:50%;background-color:#33FF00;float:left;
	padding: 1% 0%;
}

.boton:hover {
	background-color:#00CCFF;
}

.boton2 {
	width:100%;background-color:#CCFF00;float:left;
	padding: 1% 0%;
}

.boton2:hover {
	background-color:#00CCFF;
}

@keyframes canviPregunta {
	0% {
		opacity: 1;
		} 10% {
		opacity: 0;
		} 100% {
		opacity: 1;
		}
		
}

article {
	margin: 4vh 4vw;
}
	
@media (max-width: 600px) {
	article {
		margin: 2vh 0vh;
	}
}

#content {
	background: linear-gradient(to right,rgba(50,50,50,0) 0%,
	rgba(50,50,50,1) 5%,rgba(190,250,190,0.6) 10%,
	rgba(190,250,190,0.6) 90%,rgba(50,50,50,1) 95%,
	rgba(50,50,50,0) 100%);
	padding: 2% 2%;
	padding-left: 8%;
	border-style: groove;
	border-width: 15px;
	border-color: rgba(0,50,50,0.2);
    font-size: smaller;
}

#content .sitio-respuestas {
	padding-left: 2%;
}

@media (max-width: 600px) {
	#content .pregunta {
		padding-left: 5vw;
	}
	#content .sitio-respuestas {
		padding-left: 12vw;
	}
}

#title {
	font-family: TrajanPro3;
	margin-top: 10px !IMPORTANT;
	padding: 2% 1%;
	margin: 0vh 12vw;
	font-weight: bold;
	font-size: xx-large;
	background: linear-gradient(to bottom right,#202090,#f0f090);
	border-style: dashed;
	border-bottom-color: #ff0000;
	border-width: 9px;
}

.pregunta {
	font-weight: bold;
	font-family: TrajanPro3;
	padding: 20px 0px;
	padding-top: 40px;
}

#title-sep {
	width:100%;
	font-size:medium;
}

@media (min-width: 600px) {
	#title-sep {
		font-size: x-large;
		width: 35%;
	}
}

footer :visited {
	padding: 90px 15%;
	background: linear-gradient(to bottom,#303030,#cccccc);
	font-size: smaller;
}

footer span {
	float:left;
	padding-left: 50px;
}

#info-creadores {
	display: none;
}

#ver-creadores:hover  + #info-creadores{
	display: initial;
}
		