body {
    margin: 0;
}

#errores {
    position: fixed;
    animation-duration: 1s;
    top: 0px;
    width:99%;
    border: 1px solid;
    background-color: #f00000;
    padding: 7px 2px;
    padding-top: 2px;
}

@keyframes animError {
    from { 
        top: -40px;
    } to {
        top: 0px;
    }
}

#topnav {
    font-size: 3vw;
    color: #999999;
    border: 1px solid;
    margin: 1% 8%;
    height: 11vw;
    font-family: myFirstFont;
}

#navegacion {
    position: absolute;
    right: 0;
    float: right;
}

#navegacion {
    float: right;
    
}

#nombreExamen {
    font-family: Arial;
    text-align: right;
    font-size: smaller;
    padding-left: 6vw;
}



.numPregunta {
    border: 5px outset #c00000;
    padding: 1px 11px;
    margin: 10px 8px 10px -1px;
    background: linear-gradient(to bottom right,rgba(90,00,00,0.4),rgba(200,100,100,0.4));
}

.pregunta {    
    padding: 10px 20px;
    margin: 30px 10px;
}

.correcto {
    background-color: #b0ff70;
    padding: 3px;
}

.textPregunta {
    display:block;
    border: 1px solid;
    margin: 10px 0px;
    font-weight: bold;
}

.opcion {
    padding: 10px 5px;
    background-color: #eeeeee;
}

.opcion:hover {
    background-color: #e1e1e1
}

.respuesta {
    padding: 10px 5px;
}

select {
    min-width: 200px;
}

#formExamen {
    min-height: 100vh;
}

@media (min-width:600px) {
    #formExamen {
        padding: 1% 8%;
    }
    
    #topnav {
        padding: 1% 8%;
    }
    
    #pagina {
        padding: 1% 8%;
    }
    
}

footer {
    padding: 30px 80px;
    background: linear-gradient(to bottom, #ffffff, #303030);
}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/TrajanPro3-Regular.otf);
}